<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Naam</th>
      <th>Prijs</th>
      <th>Foto</th>
      <th>Actie</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products">
      <td [innerText]="product.id"></td>
      <td>{{ product.name | camelcase }}</td>
      <td>{{ product.price | currency : "EUR" }}</td>
      <td><img [src]="product.photo" [alt]="products[0].id" /></td>
      <td><button (click)="deleteProduct(product)" class="delete-btn">Wis</button></td>
    </tr>
  </tbody>
</table>
